[defaults]
host_key_checking   = False
retry_files_enabled = False
stdout_callback     = ansible.builtin.default
result_format       = yaml
interpreter_python  = /opt/ansible-venv/bin/python3
collections_path    = /home/auto/.ansible/collections

[privilege_escalation]
become        = False
become_method = sudo